<Type Name="Menu" FullName="Microsoft.Toolkit.Uwp.UI.Controls.Menu">
  <TypeSignature Language="C#" Value="public class Menu : Windows.UI.Xaml.Controls.ItemsControl" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Menu extends Windows.UI.Xaml.Controls.ItemsControl" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Toolkit.Uwp.UI.Controls.Menu" />
  <TypeSignature Language="VB.NET" Value="Public Class Menu&#xA;Inherits ItemsControl" />
  <TypeSignature Language="F#" Value="type Menu = class&#xA;    inherit ItemsControl" />
  <TypeSignature Language="C++ CLI" Value="public ref class Menu : Windows::UI::Xaml::Controls::ItemsControl" />
  <TypeSignature Language="C++ WINRT" Value="[Windows::Foundation::Metadata::WebHostHidden]&#xA;class Menu : winrt::Windows::UI::Xaml::Controls::ItemsControl" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
    <AssemblyVersion>2.2.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Windows.UI.Xaml.Controls.ItemsControl</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            Menu Control defines a menu of choices for users to invoke.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Menu ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Toolkit.Uwp.UI.Controls.Menu.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Menu();" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; Menu();" />
      <MemberSignature Language="C++ WINRT" Value=" Menu();" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>
            Initializes a new instance of the <see cref="T:Microsoft.Toolkit.Uwp.UI.Controls.Menu" /> class.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AllowTooltipProperty">
      <MemberSignature Language="C#" Value="public static readonly Windows.UI.Xaml.DependencyProperty AllowTooltipProperty;" />
      <MemberSignature Language="ILAsm" Value=".field public static initonly class Windows.UI.Xaml.DependencyProperty AllowTooltipProperty" />
      <MemberSignature Language="DocId" Value="F:Microsoft.Toolkit.Uwp.UI.Controls.Menu.AllowTooltipProperty" />
      <MemberSignature Language="VB.NET" Value="Public Shared ReadOnly AllowTooltipProperty As DependencyProperty " />
      <MemberSignature Language="F#" Value=" staticval mutable AllowTooltipProperty : Windows.UI.Xaml.DependencyProperty" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.AllowTooltipProperty" />
      <MemberSignature Language="C++ CLI" Value="public: static initonly Windows::UI::Xaml::DependencyProperty ^ AllowTooltipProperty;" />
      <MemberSignature Language="C++ WINRT" Value="static initonly winrt::Windows::UI::Xaml::DependencyProperty AllowTooltipProperty;" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Windows.UI.Xaml.DependencyProperty</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets a value indicating whether to allow tooltip on alt or not
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetAllowTooltip">
      <MemberSignature Language="C#" Value="public static bool GetAllowTooltip (Microsoft.Toolkit.Uwp.UI.Controls.Menu obj);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig bool GetAllowTooltip(class Microsoft.Toolkit.Uwp.UI.Controls.Menu obj) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Toolkit.Uwp.UI.Controls.Menu.GetAllowTooltip(Microsoft.Toolkit.Uwp.UI.Controls.Menu)" />
      <MemberSignature Language="VB.NET" Value="Public Shared Function GetAllowTooltip (obj As Menu) As Boolean" />
      <MemberSignature Language="F#" Value="static member GetAllowTooltip : Microsoft.Toolkit.Uwp.UI.Controls.Menu -&gt; bool" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.GetAllowTooltip obj" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; static bool GetAllowTooltip(Microsoft::Toolkit::Uwp::UI::Controls::Menu ^ obj);" />
      <MemberSignature Language="C++ WINRT" Value=" static bool GetAllowTooltip(Microsoft::Toolkit::Uwp::UI::Controls::Menu const &amp; obj);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="obj" Type="Microsoft.Toolkit.Uwp.UI.Controls.Menu" />
      </Parameters>
      <Docs>
        <param name="obj">Target Menu</param>
        <summary>
            Gets AllowTooltip attached property
            </summary>
        <returns>AllowTooltip</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetContainerForItemOverride">
      <MemberSignature Language="C#" Value="protected override Windows.UI.Xaml.DependencyObject GetContainerForItemOverride ();" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig virtual instance class Windows.UI.Xaml.DependencyObject GetContainerForItemOverride() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Toolkit.Uwp.UI.Controls.Menu.GetContainerForItemOverride" />
      <MemberSignature Language="VB.NET" Value="Protected Overrides Function GetContainerForItemOverride () As DependencyObject" />
      <MemberSignature Language="F#" Value="override this.GetContainerForItemOverride : unit -&gt; Windows.UI.Xaml.DependencyObject" Usage="menu.GetContainerForItemOverride " />
      <MemberSignature Language="C++ CLI" Value="protected:&#xA; override Windows::UI::Xaml::DependencyObject ^ GetContainerForItemOverride();" />
      <MemberSignature Language="C++ CX" Value="protected:&#xA; override Windows::UI::Xaml::DependencyObject ^ GetContainerForItemOverride();" />
      <MemberSignature Language="C++ WINRT" Value=" override winrt::Windows::UI::Xaml::DependencyObject GetContainerForItemOverride();" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Windows.UI.Xaml.DependencyObject</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <inheritdoc />
      </Docs>
    </Member>
    <Member MemberName="GetInputGestureText">
      <MemberSignature Language="C#" Value="public static string GetInputGestureText (Windows.UI.Xaml.FrameworkElement obj);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig string GetInputGestureText(class Windows.UI.Xaml.FrameworkElement obj) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Toolkit.Uwp.UI.Controls.Menu.GetInputGestureText(Windows.UI.Xaml.FrameworkElement)" />
      <MemberSignature Language="VB.NET" Value="Public Shared Function GetInputGestureText (obj As FrameworkElement) As String" />
      <MemberSignature Language="F#" Value="static member GetInputGestureText : Windows.UI.Xaml.FrameworkElement -&gt; string" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.GetInputGestureText obj" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; static System::String ^ GetInputGestureText(Windows::UI::Xaml::FrameworkElement ^ obj);" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; static Platform::String ^ GetInputGestureText(Windows::UI::Xaml::FrameworkElement ^ obj);" />
      <MemberSignature Language="C++ WINRT" Value=" static std::wstring GetInputGestureText(winrt::Windows::UI::Xaml::FrameworkElement const &amp; obj);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="obj" Type="Windows.UI.Xaml.FrameworkElement" />
      </Parameters>
      <Docs>
        <param name="obj">Target MenuFlyoutItem</param>
        <summary>
            Gets InputGestureText attached property
            </summary>
        <returns>Input gesture text</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="InputGestureTextProperty">
      <MemberSignature Language="C#" Value="public static readonly Windows.UI.Xaml.DependencyProperty InputGestureTextProperty;" />
      <MemberSignature Language="ILAsm" Value=".field public static initonly class Windows.UI.Xaml.DependencyProperty InputGestureTextProperty" />
      <MemberSignature Language="DocId" Value="F:Microsoft.Toolkit.Uwp.UI.Controls.Menu.InputGestureTextProperty" />
      <MemberSignature Language="VB.NET" Value="Public Shared ReadOnly InputGestureTextProperty As DependencyProperty " />
      <MemberSignature Language="F#" Value=" staticval mutable InputGestureTextProperty : Windows.UI.Xaml.DependencyProperty" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.InputGestureTextProperty" />
      <MemberSignature Language="C++ CLI" Value="public: static initonly Windows::UI::Xaml::DependencyProperty ^ InputGestureTextProperty;" />
      <MemberSignature Language="C++ WINRT" Value="static initonly winrt::Windows::UI::Xaml::DependencyProperty InputGestureTextProperty;" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Windows.UI.Xaml.DependencyProperty</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Sets the text describing an input gesture that will call the command tied to the specified item.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="IsItemItsOwnContainerOverride">
      <MemberSignature Language="C#" Value="protected override bool IsItemItsOwnContainerOverride (object item);" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig virtual instance bool IsItemItsOwnContainerOverride(object item) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Toolkit.Uwp.UI.Controls.Menu.IsItemItsOwnContainerOverride(System.Object)" />
      <MemberSignature Language="VB.NET" Value="Protected Overrides Function IsItemItsOwnContainerOverride (item As Object) As Boolean" />
      <MemberSignature Language="F#" Value="override this.IsItemItsOwnContainerOverride : obj -&gt; bool" Usage="menu.IsItemItsOwnContainerOverride item" />
      <MemberSignature Language="C++ CLI" Value="protected:&#xA; override bool IsItemItsOwnContainerOverride(System::Object ^ item);" />
      <MemberSignature Language="C++ CX" Value="protected:&#xA; override bool IsItemItsOwnContainerOverride(Platform::Object ^ item);" />
      <MemberSignature Language="C++ WINRT" Value=" override bool IsItemItsOwnContainerOverride(winrt::Windows::Foundation::IInspectable const &amp; item);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="item" Type="System.Object" />
      </Parameters>
      <Docs>
        <param name="item">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <inheritdoc />
      </Docs>
    </Member>
    <Member MemberName="IsOpened">
      <MemberSignature Language="C#" Value="public bool IsOpened { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance bool IsOpened" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Toolkit.Uwp.UI.Controls.Menu.IsOpened" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property IsOpened As Boolean" />
      <MemberSignature Language="F#" Value="member this.IsOpened : bool" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.IsOpened" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property bool IsOpened { bool get(); };" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; property bool IsOpened { bool get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets a value indicating whether the menu is opened or not
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MenuFlyoutStyle">
      <MemberSignature Language="C#" Value="public Windows.UI.Xaml.Style MenuFlyoutStyle { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Windows.UI.Xaml.Style MenuFlyoutStyle" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Toolkit.Uwp.UI.Controls.Menu.MenuFlyoutStyle" />
      <MemberSignature Language="VB.NET" Value="Public Property MenuFlyoutStyle As Style" />
      <MemberSignature Language="F#" Value="member this.MenuFlyoutStyle : Windows.UI.Xaml.Style with get, set" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.MenuFlyoutStyle" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Windows::UI::Xaml::Style ^ MenuFlyoutStyle { Windows::UI::Xaml::Style ^ get(); void set(Windows::UI::Xaml::Style ^ value); };" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; property Windows::UI::Xaml::Style ^ MenuFlyoutStyle { Windows::UI::Xaml::Style ^ get(); void set(Windows::UI::Xaml::Style ^ value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Windows.UI.Xaml.Style</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the menu style for MenuItem
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MenuFlyoutStyleProperty">
      <MemberSignature Language="C#" Value="public static readonly Windows.UI.Xaml.DependencyProperty MenuFlyoutStyleProperty;" />
      <MemberSignature Language="ILAsm" Value=".field public static initonly class Windows.UI.Xaml.DependencyProperty MenuFlyoutStyleProperty" />
      <MemberSignature Language="DocId" Value="F:Microsoft.Toolkit.Uwp.UI.Controls.Menu.MenuFlyoutStyleProperty" />
      <MemberSignature Language="VB.NET" Value="Public Shared ReadOnly MenuFlyoutStyleProperty As DependencyProperty " />
      <MemberSignature Language="F#" Value=" staticval mutable MenuFlyoutStyleProperty : Windows.UI.Xaml.DependencyProperty" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.MenuFlyoutStyleProperty" />
      <MemberSignature Language="C++ CLI" Value="public: static initonly Windows::UI::Xaml::DependencyProperty ^ MenuFlyoutStyleProperty;" />
      <MemberSignature Language="C++ WINRT" Value="static initonly winrt::Windows::UI::Xaml::DependencyProperty MenuFlyoutStyleProperty;" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Windows.UI.Xaml.DependencyProperty</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Identifies the <see cref="P:Microsoft.Toolkit.Uwp.UI.Controls.Menu.MenuFlyoutStyle" /> dependency property.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="OnApplyTemplate">
      <MemberSignature Language="C#" Value="protected override void OnApplyTemplate ();" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig virtual instance void OnApplyTemplate() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Toolkit.Uwp.UI.Controls.Menu.OnApplyTemplate" />
      <MemberSignature Language="VB.NET" Value="Protected Overrides Sub OnApplyTemplate ()" />
      <MemberSignature Language="F#" Value="override this.OnApplyTemplate : unit -&gt; unit" Usage="menu.OnApplyTemplate " />
      <MemberSignature Language="C++ CLI" Value="protected:&#xA; override void OnApplyTemplate();" />
      <MemberSignature Language="C++ CX" Value="protected:&#xA; override void OnApplyTemplate();" />
      <MemberSignature Language="C++ WINRT" Value=" override void OnApplyTemplate();" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <inheritdoc />
      </Docs>
    </Member>
    <Member MemberName="Orientation">
      <MemberSignature Language="C#" Value="public Windows.UI.Xaml.Controls.Orientation Orientation { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype Windows.UI.Xaml.Controls.Orientation Orientation" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Toolkit.Uwp.UI.Controls.Menu.Orientation" />
      <MemberSignature Language="VB.NET" Value="Public Property Orientation As Orientation" />
      <MemberSignature Language="F#" Value="member this.Orientation : Windows.UI.Xaml.Controls.Orientation with get, set" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.Orientation" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Windows::UI::Xaml::Controls::Orientation Orientation { Windows::UI::Xaml::Controls::Orientation get(); void set(Windows::UI::Xaml::Controls::Orientation value); };" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; property Windows::UI::Xaml::Controls::Orientation Orientation { Windows::UI::Xaml::Controls::Orientation get(); void set(Windows::UI::Xaml::Controls::Orientation value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Windows.UI.Xaml.Controls.Orientation</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the orientation of the Menu, Horizontal or vertical means that child controls will be added horizontally
            until the width of the panel can't fit more control then a new row is added to fit new horizontal added child controls,
            vertical means that child will be added vertically until the height of the panel is received then a new column is added
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="OrientationProperty">
      <MemberSignature Language="C#" Value="public static readonly Windows.UI.Xaml.DependencyProperty OrientationProperty;" />
      <MemberSignature Language="ILAsm" Value=".field public static initonly class Windows.UI.Xaml.DependencyProperty OrientationProperty" />
      <MemberSignature Language="DocId" Value="F:Microsoft.Toolkit.Uwp.UI.Controls.Menu.OrientationProperty" />
      <MemberSignature Language="VB.NET" Value="Public Shared ReadOnly OrientationProperty As DependencyProperty " />
      <MemberSignature Language="F#" Value=" staticval mutable OrientationProperty : Windows.UI.Xaml.DependencyProperty" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.OrientationProperty" />
      <MemberSignature Language="C++ CLI" Value="public: static initonly Windows::UI::Xaml::DependencyProperty ^ OrientationProperty;" />
      <MemberSignature Language="C++ WINRT" Value="static initonly winrt::Windows::UI::Xaml::DependencyProperty OrientationProperty;" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Windows.UI.Xaml.DependencyProperty</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Identifies the <see cref="P:Microsoft.Toolkit.Uwp.UI.Controls.Menu.Orientation" /> dependency property.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SelectedMenuItem">
      <MemberSignature Language="C#" Value="public Microsoft.Toolkit.Uwp.UI.Controls.MenuItem SelectedMenuItem { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.Toolkit.Uwp.UI.Controls.MenuItem SelectedMenuItem" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Toolkit.Uwp.UI.Controls.Menu.SelectedMenuItem" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property SelectedMenuItem As MenuItem" />
      <MemberSignature Language="F#" Value="member this.SelectedMenuItem : Microsoft.Toolkit.Uwp.UI.Controls.MenuItem" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.SelectedMenuItem" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Microsoft::Toolkit::Uwp::UI::Controls::MenuItem ^ SelectedMenuItem { Microsoft::Toolkit::Uwp::UI::Controls::MenuItem ^ get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.Toolkit.Uwp.UI.Controls.MenuItem</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets the current selected menu header item
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetAllowTooltip">
      <MemberSignature Language="C#" Value="public static void SetAllowTooltip (Microsoft.Toolkit.Uwp.UI.Controls.Menu obj, bool value);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig void SetAllowTooltip(class Microsoft.Toolkit.Uwp.UI.Controls.Menu obj, bool value) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Toolkit.Uwp.UI.Controls.Menu.SetAllowTooltip(Microsoft.Toolkit.Uwp.UI.Controls.Menu,System.Boolean)" />
      <MemberSignature Language="VB.NET" Value="Public Shared Sub SetAllowTooltip (obj As Menu, value As Boolean)" />
      <MemberSignature Language="F#" Value="static member SetAllowTooltip : Microsoft.Toolkit.Uwp.UI.Controls.Menu * bool -&gt; unit" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.SetAllowTooltip (obj, value)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; static void SetAllowTooltip(Microsoft::Toolkit::Uwp::UI::Controls::Menu ^ obj, bool value);" />
      <MemberSignature Language="C++ WINRT" Value=" static void SetAllowTooltip(Microsoft::Toolkit::Uwp::UI::Controls::Menu const &amp; obj, bool value);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="obj" Type="Microsoft.Toolkit.Uwp.UI.Controls.Menu" />
        <Parameter Name="value" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <param name="obj">Target Menu</param>
        <param name="value">AllowTooltip</param>
        <summary>
            Sets AllowTooltip attached property
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetInputGestureText">
      <MemberSignature Language="C#" Value="public static void SetInputGestureText (Windows.UI.Xaml.FrameworkElement obj, string value);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig void SetInputGestureText(class Windows.UI.Xaml.FrameworkElement obj, string value) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Toolkit.Uwp.UI.Controls.Menu.SetInputGestureText(Windows.UI.Xaml.FrameworkElement,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Shared Sub SetInputGestureText (obj As FrameworkElement, value As String)" />
      <MemberSignature Language="F#" Value="static member SetInputGestureText : Windows.UI.Xaml.FrameworkElement * string -&gt; unit" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.SetInputGestureText (obj, value)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; static void SetInputGestureText(Windows::UI::Xaml::FrameworkElement ^ obj, System::String ^ value);" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; static void SetInputGestureText(Windows::UI::Xaml::FrameworkElement ^ obj, Platform::String ^ value);" />
      <MemberSignature Language="C++ WINRT" Value=" static void SetInputGestureText(winrt::Windows::UI::Xaml::FrameworkElement const &amp; obj, std::wstring const &amp; value);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="obj" Type="Windows.UI.Xaml.FrameworkElement" />
        <Parameter Name="value" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="obj">Target MenuFlyoutItem</param>
        <param name="value">Input gesture text</param>
        <summary>
            Sets InputGestureText attached property
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="TooltipPlacement">
      <MemberSignature Language="C#" Value="public Windows.UI.Xaml.Controls.Primitives.PlacementMode TooltipPlacement { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype Windows.UI.Xaml.Controls.Primitives.PlacementMode TooltipPlacement" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Toolkit.Uwp.UI.Controls.Menu.TooltipPlacement" />
      <MemberSignature Language="VB.NET" Value="Public Property TooltipPlacement As PlacementMode" />
      <MemberSignature Language="F#" Value="member this.TooltipPlacement : Windows.UI.Xaml.Controls.Primitives.PlacementMode with get, set" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.TooltipPlacement" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Windows::UI::Xaml::Controls::Primitives::PlacementMode TooltipPlacement { Windows::UI::Xaml::Controls::Primitives::PlacementMode get(); void set(Windows::UI::Xaml::Controls::Primitives::PlacementMode value); };" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; property Windows::UI::Xaml::Controls::Primitives::PlacementMode TooltipPlacement { Windows::UI::Xaml::Controls::Primitives::PlacementMode get(); void set(Windows::UI::Xaml::Controls::Primitives::PlacementMode value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Windows.UI.Xaml.Controls.Primitives.PlacementMode</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the tooltip placement on menu
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="TooltipPlacementProperty">
      <MemberSignature Language="C#" Value="public static readonly Windows.UI.Xaml.DependencyProperty TooltipPlacementProperty;" />
      <MemberSignature Language="ILAsm" Value=".field public static initonly class Windows.UI.Xaml.DependencyProperty TooltipPlacementProperty" />
      <MemberSignature Language="DocId" Value="F:Microsoft.Toolkit.Uwp.UI.Controls.Menu.TooltipPlacementProperty" />
      <MemberSignature Language="VB.NET" Value="Public Shared ReadOnly TooltipPlacementProperty As DependencyProperty " />
      <MemberSignature Language="F#" Value=" staticval mutable TooltipPlacementProperty : Windows.UI.Xaml.DependencyProperty" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.TooltipPlacementProperty" />
      <MemberSignature Language="C++ CLI" Value="public: static initonly Windows::UI::Xaml::DependencyProperty ^ TooltipPlacementProperty;" />
      <MemberSignature Language="C++ WINRT" Value="static initonly winrt::Windows::UI::Xaml::DependencyProperty TooltipPlacementProperty;" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Windows.UI.Xaml.DependencyProperty</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Identifies the <see cref="P:Microsoft.Toolkit.Uwp.UI.Controls.Menu.TooltipPlacement" /> dependency property.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="TooltipStyle">
      <MemberSignature Language="C#" Value="public Windows.UI.Xaml.Style TooltipStyle { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Windows.UI.Xaml.Style TooltipStyle" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Toolkit.Uwp.UI.Controls.Menu.TooltipStyle" />
      <MemberSignature Language="VB.NET" Value="Public Property TooltipStyle As Style" />
      <MemberSignature Language="F#" Value="member this.TooltipStyle : Windows.UI.Xaml.Style with get, set" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.TooltipStyle" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Windows::UI::Xaml::Style ^ TooltipStyle { Windows::UI::Xaml::Style ^ get(); void set(Windows::UI::Xaml::Style ^ value); };" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; property Windows::UI::Xaml::Style ^ TooltipStyle { Windows::UI::Xaml::Style ^ get(); void set(Windows::UI::Xaml::Style ^ value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Windows.UI.Xaml.Style</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the tooltip styles for menu
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="TooltipStyleProperty">
      <MemberSignature Language="C#" Value="public static readonly Windows.UI.Xaml.DependencyProperty TooltipStyleProperty;" />
      <MemberSignature Language="ILAsm" Value=".field public static initonly class Windows.UI.Xaml.DependencyProperty TooltipStyleProperty" />
      <MemberSignature Language="DocId" Value="F:Microsoft.Toolkit.Uwp.UI.Controls.Menu.TooltipStyleProperty" />
      <MemberSignature Language="VB.NET" Value="Public Shared ReadOnly TooltipStyleProperty As DependencyProperty " />
      <MemberSignature Language="F#" Value=" staticval mutable TooltipStyleProperty : Windows.UI.Xaml.DependencyProperty" Usage="Microsoft.Toolkit.Uwp.UI.Controls.Menu.TooltipStyleProperty" />
      <MemberSignature Language="C++ CLI" Value="public: static initonly Windows::UI::Xaml::DependencyProperty ^ TooltipStyleProperty;" />
      <MemberSignature Language="C++ WINRT" Value="static initonly winrt::Windows::UI::Xaml::DependencyProperty TooltipStyleProperty;" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Toolkit.Uwp.UI.Controls</AssemblyName>
        <AssemblyVersion>2.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Windows.UI.Xaml.DependencyProperty</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Identifies the <see cref="P:Microsoft.Toolkit.Uwp.UI.Controls.Menu.TooltipStyle" /> dependency property.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
